.md-form label { left: 3%;}

/*///////////  Nuevo articulo /////////////////*/
.file-field > figure { margin-left: 25%; }
.file-field > figure > button { color: pink !important; position: absolute; right: 1%; }

.imgDesThumbail { width: 250px !important; max-height: 170px !important; }
i.btnTrash { position: absolute !important; margin-top: 0; z-index: 10; right: 14%; background: white; }
.itemTagArt { padding-right: 25% !important; float: right; border-radius: 10px; }
.list-estado-articulo { list-style: none; font-size: 1rem; color: gray; margin-left: -7%; }
.list-estado-articulo > li, label { color: gray; } 
.content-estado-articulo { text-align: left !important;}

.completUrl { position: relative;  margin: 0 !important; }
.legendUrl { float: left;}
.contentInpUrl{ text-align: left; margin-left: -9%; }
.contentInpUrl > input { border-radius: 10px !important; height: 30% !important; vertical-align: bottom !important; padding: 7px 0 7px 7px !important; margin-top: 4% !important; color: #495057; font-size: 1rem !important; line-height: 1.5 !important;}
.padswitch { margin-top: -3% !important;}
.input { padding-left: 2% !important; padding-bottom: 0.5% !important; }
.sceditor-button-youtube, .sceditor-button-emoticon { display: none; }
.fr-wrapper > div >a { background: none !important; }

.fr-wrapper{ min-height: 338px !important; }

/*////////// End nuevo articulo //////////////*/


/*/////////////// Todos los articulos ///////////*/
.list-opc-acc{ list-style: none; }
.list-opc-acc > li{ font-size:11px; float: left; margin: 0px 3px; font-weight: bold; cursor:  pointer; }
td { text-align: left !important;}
td > ul { margin-left: -11% !important;}
table.getArt  td{   border-right: 1px solid #dee2e6 !important; }
/*/////////////// End Todos los articulos ///////////*/